spring:
  datasource:
    url: jdbc:postgresql://127.0.0.1:5432/urldb
    username: @@@@@@@@
    password: @@@@@@@@
    driver-class-name: org.postgresql.Drive

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  data:
    redis:
      host: 127.0.0.1
      port: 6379